* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    margin-bottom: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}

button:disabled {
    background-color: #bdc3c7;
}

#optionsContainer {
    margin-top: 20px;
}

#optionsContainer button {
    margin: 5px;
    padding: 10px 15px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f39c12;
}

#optionsContainer button:hover {
    background-color: #e67e22;
}

#scoreContainer {
    text-align: center;
}
